/* Level3.css */

.level3-container {
  padding-top: 100px; /* ヘッダーの分 */
  height: calc(100vh - 100px); /* 残りの高さを全て使う */
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
}

.level3-container button {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.level3-container button:hover {
  background-color: #0056b3;
}
